
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block__container">
    <div class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Lộ trình học Font-end
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="#">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>

        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Xem khóa học</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
        <div class="block__main__item">
            <div class="block__main__header">
                <img src="https://image.thanhnien.vn/660x370/Uploaded/2022/bahgtm/2022_01_11/lamborghini-huracan-lp610-4-spyder-6126.jpg?1" alt="Alternate Text" />
                <div class="block__main__item__button">
                    <a href="#" class="btn--sub">Tìm kiếm ngay</a>
                </div>
            </div>
            <h3 class="block__main__item__heading">
                <a href="#">
                    Kiên thức nhập môn IT
                </a>
            </h3>
            <div class="block__main__item__watch">
                <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                <span>71.098</span>
            </div>
        </div>
    </div>
</div>


<div class="section__newbie">
    <div class="section__newbie__left">
        <h2 class="heading section__newbie__left__heading">
            Bạn đang tìm kiếm lộ trình học cho người mới?
        </h2>
        <p>
            Các khóa học được thiết kế phù hợp cho người mới, lộ trình học rõ ràng, nội dung dễ hiểu.
        </p>
        <a href="#" class="button-black">
            Xem lộ trình
        </a>
    </div>
    <div class="section__newbie__right">
        <img src="~/assets/images/lotrinh.png" alt="Alternate Text" />
    </div>
</div>