
@{
    ViewBag.Title = "Fontend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="font-end">
    <h1 class="font-end__heading">
        Lộ trình học Fond end
    </h1>
    <p class="font-end__desc">
        Hầu hết các websites hoặc ứng dụng di động đều có 2 phần là Front-end và Back-end. Front-end là phần giao diện người dùng nhìn thấy và có thể tương tác, đó chính là các ứng dụng mobile hay những website bạn đã từng sử dụng. Vì vậy, nhiệm vụ của lập trình viên Front-end là xây dựng các giao diện đẹp, dễ sử dụng và tối ưu trải nghiệm người dùng.
    </p>
    <p class="font-end__desc">
        Tại Việt Nam, <a href="https://jobsgo.vn/muc-luong-lap-trinh-frontend/ha-noi.html"><span><u>lương trung bình</u></span></a> cho lập trình viên front-end vào khoảng <strong>16.000.000đ</strong> / tháng.
    </p>
    <p class="font-end__desc"   >
        Dưới đây là các khóa học F8 đã tạo ra dành cho bất cứ ai theo đuổi sự nghiệp trở thành một lập trình viên Front-end.
    </p>
    <blockquote>
        <p class="font-end__desc">
            Các khóa học có thể chưa đầy đủ, F8 vẫn đang nỗ lực hoàn thiện trong thời gian sớm nhất.
        </p>
    </blockquote>

    <div class="font-end__container">
        <div class="font-end__container__item">
            <h1 class="font-end__container__item__heading">
                1. Tìm hiểu về ngành IT
            </h1>
            <p class="font-end__container__item__desc">
                Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.
            </p>
            <div class="font-end__container__item__block">
                <img class="font-end__container__item__block__img" src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="Alternate Text" />
                <div>
                    <h3 class="font-end__container__item__block__heading">
                        Kiến Thức Nhập Môn IT
                    </h3>
                    <p class="font-end__container__item__block__desc">
                        Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.
                    </p>
                    <a class="btn btn--primary" href="">Xem khóa học</a>
                </div>
            </div>
        </div>
    </div>
</div>