
@{
    ViewBag.Title = "Lộ trình học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="learning">
    <div class="learning__header">
        <h2 class="learning__header__heading">
            Lộ trình học
        </h2>
        <p class="learning__header__desc">
            Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị trí “Lập trình viên Front-end” bạn nên tập trung vào lộ trình “Front-end”.
        </p>
    </div>
    <div class="laerning__container">
        <div class="learning__container__item">
            <div class="learning__container__item__left">
                <div class="learning__container__item__left__heading">
                    <a href="#">
                        Lộ trình học Font-end
                    </a>
                </div>
                <p>
                    Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.
                </p>
                <ul class="list-course">
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/li1.png" alt="Alternate Text" />
                        </a>
                    </li>
                </ul>
                <a href="#" class="learning__button">Xem chi tiết</a>
            </div>
            <div class="learning__container__item__right">
                <img src="~/assets/images/section1.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>

<div class="section__newbie">
    <div class="section__newbie__left">
        <h2 class="heading section__newbie__left__heading">
            Bạn đang tìm kiếm lộ trình học cho người mới?
        </h2>
        <p>
            Các khóa học được thiết kế phù hợp cho người mới, lộ trình học rõ ràng, nội dung dễ hiểu.
        </p>
        <a href="#" class="button-black">
            Xem lộ trình
        </a>
    </div>
    <div class="section__newbie__right">
        <img src="~/assets/images/lotrinh.png" alt="Alternate Text" />
    </div>
</div>