.adminPage{
    padding: 1rem;

    &__heading{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.6;
    }
}

.btn--blue {
    background-image: linear-gradient(90deg,#349eff,#62b4ff);
    font-weight: 800;
}