
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Web học fullstack hay nhất việt nam">
    <meta name="author" content="Nhóm Bình Phong Anh">
    <meta name="keywords" content="HTML , CSS , SCSS , JavaScript , Typescript">
    <title>Đăng nhập</title>
    <link href="~/assets/boxicons-2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/user.css" rel="stylesheet" />
</head>
<body>
    <div class="auth"> 
        <div class="container">
            <div class="auth__container">
                <div class="auth__header">
                    <a href="/user" class="back">  
                        <i class='bx bx-chevron-left'></i>
                    </a>
                    <div class="auth__header__logo">
                        <a href="/Home/index">
                            <img src="~/assets/images/logo40.png" alt="Alternate Text" />
                        </a>
                    </div>
                    <h1 class="auth__header__title">
                        Đăng nhập vào <span>APB</span>
                    </h1>
                    <div class="auth__header__center">
                        <form action="/" method="post">
                            <div class="form-group-auth">
                                <label for="email" class="form-label">Email</label>
                                <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group-auth">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input id="password" name="password" type="password" placeholder="VD: nhập mật khẩu" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <button class="button-auth" type="submit">
                                Đăng nhập
                            </button>
                        </form>
                        <p class="register-form">
                            Bạn chưa có tài khoản ? <span> @Html.ActionLink("Đăng ký", "Register")</span>
                        </p>
                        <p class="register-form">
                           <span> @Html.ActionLink("Quên mật khẩu?", "Register")</span>
                        </p>
                    </div>
                    
                </div>
                <div class="auth__footer">
                    <a href="#">Giới thiệu về APB</a>
                    <span class="spane-white">|</span>
                    <a href="#">ABP<span>PRO</span> trên facebook</a>
                    <span class="spane-white">|</span>
                    <a href="#">Liên hệ hợp tác</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
