
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="teacher">
    <h1 class="teacher__heading">
        Giáo viên của APB<span>PRO</span>
    </h1>
    <p class="teacher__desc">

    </p>
</div>

