@model IEnumerable<pjWebBPA.contextModels.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="teacher">
    <h1 class="teacher__heading">Giới thiệu các giảng viên</h1>
</div>
